body{
  margin: 0;
  padding:0;
  font-family:"Helvetica Neue",Helvetica,Arial,"Microsoft Yahei",sans-serif;
  background-color: #fd1010;
}
article.body{
  
  
}

footer.navbar-default{
  display: table-row;
   height: 70px;
   background-color: #ccc;
}

.item{
  display: table-cell;
  text-align: center;
  width: 1%;
}
.item img{
  height: 35px;
}
.item a{
    text-decoration: none;
    display: block;
    cursor: pointer;
    padding: 5px 0;
}
.item a:hover,.item a:active{
    color: #fff;
    background-color: #999;
}